h1{
  display: block;
    padding-left: 257px;
    position:relative;
  font-weight: bold;
  font-size: 70px;
}
img{
  padding-left: 300px;
  width: 265%;
  height: 162%;
}
.name{

    padding-left: 90px;;
}

hr{
  visibility: hidden;
}
select{
  text-transform: capitalize;
}
.display{
  padding-left: 330px;
}
.name{
  padding-left: 1px;
}
.stock{
  display: block;
  padding-left: 452px;
  font-weight: bold;
  font-size: 41px;
}
.output{
  padding-left: 414px;
}
h2{
  padding-left: -130px;
  font-weight: bold;
  font-size: 41px;
}
table,th,td{
    border: 2px solid black;
    border-collapse:collapse;
  }
