h1{
  display: block;
    text-align:center;
    position:relative;
  font-weight: bold;
  font-size: 70px;
}
img{
  padding-left: 400px;
  width: 465%;
  height: 362%;
}
.name{

    padding-left: 130px;;
  }
}
table , th,tr, td{
  border: 1px solid black;
}
