h1{
  display: block;
    text-align:center;
    position:relative;
  font-weight: bold;
  font-size: 70px;
}
img{
  padding-left: 300px;
  width: 265%;
  height: 162%;
}
.name{

    padding-left: 90px;;
  }
}
table , th,tr, td{
  border: 1px solid black;
}

hr{
  visibility: hidden;
}
select{
  text-transform: capitalize;
}
